@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
html,
body {
  padding: 0;
  margin: 0;
	height: 100%;
	font-family: 'JetBrains Mono', monospace;
}

